/*
* These are not universally recommended remedies,
* but they are good to consider,
* and they might work for you.
*/


/* Nav Lists
************/

/*
* List styling is not usually desired in navigation,
* but this also removes list-semantics for screen-readers
* See: https://github.com/mozdevs/cssremedy/issues/15
*/
nav ul {
  list-style: none;
}

/*
* 1. Add zero-width-space to prevent VoiceOver disable
* 2. Absolute position ensures no extra space
* See: https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
*/
nav li:before {
  content: "\200B";
  position: absolute;
}


/* Reduced Motion
*****************/

/*
* 1. Immediately jump any animation to the end point
* 2. Remove transitions & fixed background attachment
* See: https://github.com/mozdevs/cssremedy/issues/11
*/
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}


/* Line Heights
***************/

/*
* The default `normal` line-height is tightly spaced, but takes font-metrics into account.
* Looser spacing may improve readability, but may cause problems in some scripts.
* See: https://github.com/mozdevs/cssremedy/issues/7
*/
html { line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { line-height: 1.25; }
caption, figcaption, label, legend { line-height: 1.375; }
