
/* Switching to border-box for box-sizing. */
html {
	box-sizing: border-box;
	font-size: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Stop any animation if the user has set their device to "prefers reduced motion". */
@​media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    animation-duration: 0.1s !important;
    transition-duration: 0.1s !important;
  }
}

body {
	margin: 0; /* Remove the tiny space around the edge of the page */
	text-size-adjust: 100%;	 /* Fix for iOS Safari */
}


/* Switch to using rem units for typography. Fix line-height on headlines. */
h1 {
	font-size: 2rem; /* Makes all H1 large, removing nested-shrinking sizes. */
  margin: 0.67em 0;
}
h2 {
	font-size: 1.5rem;
	line-height: 1;
}
h3 {
	font-size: 1.17rem;
	line-height: 1;
}
h4 {
	font-size: 1.00rem;
	line-height: 1;
}
h5 {
	font-size: 0.83rem;
	line-height: 1;
}
h6 {
	font-size: 0.67rem;
	line-height: 1;
}

/* Improve readibility */
p {
	line-height: 1.5; 
}


pre { 
	white-space:pre-wrap; /* Overflow by default is bad. */
}


/* are browsers now consistent with margin & padding on lists?
	See: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Consistent_list_indentation  */
nav ul {
 list-style:none;
}


img {
 	max-width: 100%; /* Make images are flexible by default.*/
 	height: auto;
}



/* In English, when styling the <q> element, use curly quotes instead of straight quotes. */

:lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }









