/* Global Remedies…
   ---------------- */

/* Use border-box by default, globally */
*, ::before, ::after { box-sizing: border-box; }

/* Consistent line spacing: */
/* - CSS Inline Layout Module Level 3: https://drafts.csswg.org/css-inline-3/#line-sizing-property */
html { line-sizing: normal; }

/* Improve spacing of punctuation marks and script changes in CJK languages */
/* - CSS Text Module Level 4: https://drafts.csswg.org/css-text-4/#text-spacing-property */
html {
  text-spacing: trim-start allow-end trim-adjacent ideograph-alpha ideograph-numeric;
}

/* Remove the tiny space around the edge of the page */
body { margin: 0; }


/* Headings…
   --------- */

/* Switch to rem units for headings */
/* - Initial values are based on existing browser defaults */
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.00rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.67rem; }

/* Keep h1 margins consistent, even when nested */
h1 { margin: 0.67em 0; }


/* Typography…
   ----------- */

/* Overflow by default is bad */
pre { white-space: pre-wrap; }

/* Solid, thin horizonatal rules */
hr { border: 0.5px solid; }


/* Replaced Elements…
   ------------------ */

/* - Block display is usually what we want */
/* - Remove strange space-below when inline */
img, video, canvas, audio, iframe, embed, object  {
  display: block;
  vertical-align: middle;
}

/* - Responsive by default */
/* - Maintain their aspect ratio when max-width comes into play */
img, video {
  max-width: 100%;
  height: auto;
}

/* Remove the border on images inside links in IE 10 and earlier */
img { border-style: none; }
